@page
@model KintaiSystem.Areas.Home.Pages.LogoutModel
@{
    Layout = "./Shared/_LogoutLayout";
}
<div class="text-left">
    <h1 class="display-5">@Model.Title</h1>
</div>
<p>この画面を閉じて、ログアウトを完了してください。</p>
